:root { 
--purple_500_01:#a82eba; 
--purple_100:#e5c6ea; 
--purple_500_02:#a320b9; 
--gray_900:#1c0a1e; 
--gray_200:#e5e8ea; 
--gray_100:#f7eff9; 
--purple_500_f7:#a82db9f7; 
--gray_100_01:#f7f0fa; 
--pink_800:#a53a7a; 
--purple_500:#b516d1; 
--white_A700:#ffffff; 
--purple_50:#efddf2; 
--purple_500_03:#963aa5; 
--purple_500_04:#b716d3; 
}